{% extends "admin/app_index.html" %}
{% load i18n admin_modify %}
{% block extrahead %}{{ block.super }}
{% url jsi18n as jsi18nurl %}
<script src="{{ jsi18nurl}}" type="text/javascript"><!--mce:0--></script>  
{% endblock %}
{% block extrastyle %}{{ block.super }}
{% endblock %}
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">  
     <a href="../../admin/">{% trans "Home" %}</a> ›
     {% trans 'Skapa tillgänglighet för cyklar' %}</div>
{% endif %}{% endblock %}

{% block content %}

	{{ calendar }}


<form method="post" action="">
	{% csrf_token %}
	<div class="form-row">
	<table>
		
		{{ formset }}
		
	</table></div>
	<input type="submit" value="Lägg till tillgänglighet"/>
</form>
{% endblock %}
