<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta lang="sv">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'docs/css/style.css' %}" />
    <!-- <script type="text/javascript" defer="defer" src="{% static 'docs/js/baseJS.js' %"}></script> -->
    <title>Välkommen till Café Visthusets API</title>
  </head>
  <body>
    <header>
    <h1>Välkommen till Café Visthusets API!</h1>
    </header>
    <main>
      <h2>Vad vill du göra?</h2>
      <div style="margin-top: -25px" id="message">
      Sidan är för tillfället under konstruktion.
      </div>
    <section>
    	<a href="/admin/"><div>
    	    <img class="topicimg" src="/static/docs/images/ingrid.jpg" alt="Logga in!"
    	    />
    	    <h3>Logga in!</h3><br>
  	  </div></a>
  	  <a href="/docs/"><div>
  		    <img class = "topicimg" src="/static/docs/images/glass.jpg" alt="Kolla in vår dokumentation!" 
  		    />
    		  <h3>Kolla in vår dokumentation!</h3>
      </div></a>
    </section>
  </main>
  <footer>
    <div>
      <h3 class="foot">Kontakta oss!</h3>
      <p>
        Café Visthuset<br>
        Kanalvägen 2, Töreboda<br>
        0506 - 77 75 50<br>
        <br>
        info@cafevisthuset.se<br>
      <a href="www.cafevisthuset.se">www.cafevisthuset.se</a><br>
      <a href="www.cyklagotakanal.se">www.cyklagotakanal.se</a>
      </p>
    </div>
    <div>

    </div>
    <div>

    </div>
  </footer>
  </body>
</html>
